 
.app {
	background: #3b5998;
	border-radius: 10%;
	display: block;
	height: 40px;
	width: 35px; 
}
 
.app:after {
	color: #fff;
	content: "f";
	display: block;
	font-family: Facebook Letter Faces, Arial;
	font-size: 35px;
	font-weight: bold;
	margin: -20% 0 0 30%; }

.widget-social-count{
	font-size: 20px;
	text-align: -webkit-match-parent;
}

.widget-likes{
	font-size: 11px;
	text-align: -webkit-match-parent;
}